CMakeCache.txt
CMakeFiles
CMakeScripts
cmake_install.cmake
install_manifest.txt
CTestTestfile.cmake
build/
!build/.gitkeep
!build/t/.getkeep
*.dylib
*.pyc
winbuild/
!winbuild/.gitkeep
!winbuild/t/.gitkeep
